src/main/mule/test_app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="test_appFlow" doc:id="bd854834-148d-4d87-a776-c095fc68ca7d" >
		<scheduler doc:name="Scheduler" doc:id="75f59d05-8125-4624-9aa3-19f118d7ab7f" >
			<scheduling-strategy >
				<fixed-frequency frequency="1" timeUnit="DAYS"/>
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Logger" doc:id="be3f034e-ff02-40ef-905e-be1f5c91f572" message='#["Testing GitHub CI/CD"]'/>
		<logger level="INFO" doc:name="Logger" doc:id="d6dc3059-8ff7-49e8-aaca-d2dccf9c12fc" message='#["Testing Success"]'/>
	</flow>
</mule>
